@charset "utf-8";

.gobottom
{
    position:fixed;
    top:200px;
    left:30px;
    cursor:pointer;
    padding:5px 10px;
    z-index: 9999;
    transform: rotate(-90deg);
    border-radius: 50px;
    opacity:0.8;
}

.gotop
{
    position:fixed;
    bottom:200px;
    right:30px;
    cursor:pointer;
    padding:5px 10px;
    z-index: 9999;
    transform: rotate(90deg);
    border-radius: 50px;
    color:#fff;
    opacity:0.8;

}



#main_visual
{
    background:#f2f2f2;
}
#main_visual .inner
{
    position:relative;
}

.slide1
{
    z-index: 7;
}
.slide1 .swiper-slide
{
    display:flex;
    justify-content: center;
    align-items:flex-start;
    opacity:0;
    transition:all 0.5s;
}

.slide1 .swiper-slide-active
{
    transform: scale(1.3, 1.3);
    opacity:1;
    transition: all 0.5s;


}
.slide1 .swiper-slide-next
{
    opacity:0;
    transition:all 1s;
}
.slide1 .swiper-slide-prev
{
    opacity:0;
    transition:all 1s;
}
/* 반응형 이미지 사이즈 조절 slide1 */

/* 부모요소 1907 */

@media (max-width : 1200px)
{
    #main_visual
    {
        padding-top:80px;
    }
}

/* 반응형 이미지 사이즈 조절 slide1 */



.slide1 .swiper-wrapper 
{
/*     height:100%;
 */    align-items: center;
}


.slide1 .swiper-slide-shadow-left
{
    display:none;
}
.slide1 .swiper-slide-shadow-right
{
   display:none;
}


.slide1 .swiper-slide-active
{
    align-items: flex-start;
}

#main_visual h2
{
    text-transform: uppercase;
    font-family: 'air-font';
    font-size:12rem;
    font-weight: 700;
    color:#fff;
    position:absolute;
    bottom:0;
    left:0;
    z-index:8;
    text-align: center;
    width:100%;
}

/* #main_visual h2 반응형 */

@media (max-width : 1864px)
{
    #main_visual h2
    {
        font-size:11rem;
    }
}
@media (max-width : 1734px)
{
    #main_visual h2
    {
        font-size:10rem;
    }
}
@media (max-width : 1602px)
{
    #main_visual h2
    {
        font-size:9rem;
    }
}
@media (max-width : 1470px)
{
    #main_visual h2
    {
        font-size:8rem;
    }
}
@media (max-width : 1340px)
{
    #main_visual h2
    {
        font-size:7rem;
    }
}
@media (max-width : 1200px)
{
    #main_visual h2
    {
        font-size:6rem;
    }
}



/* #main_visual h2 반응형 */

#section_1
{
    height:100vh;
}
#section_1 .inner
{
    position:relative;
    text-align: right;
    padding-top:100px;
    height:100%;
}


/* #section_1 .inner2 .img_txt::before
{
    content:'Stylist Julian Anthony Ganio Film Director Josh Hight Creative & Production Services Jarrad Serafine-Clark @KCD';
    color:#666;
    width:200px;
    height: 200px;
    font-family: 'noto sans KR';
    font-size:1.6rem;
    position: absolute;
    top:0;
    left:0;

} */
#section_1 .section_1_img_box1 img
{

    width:100%;
    transition: all 0.8s;
}
.section_1_img_box1
{
    overflow: hidden;
    width:60%;
    height: 500px;
    transition:all 0.3s;
    position: absolute;     
    top:100px;
    left:0px;
}

.section_1_img_box1:hover img

{
    transform: scale(1.2, 1.2);

}

#section_1 .section_1_img_box2 img
{

    width:100%;
    transition: all 0.8s;
}
.section_1_img_box2
{
    overflow: hidden;
    width:43%;
    transition:all 0.3s;
    position: absolute;
    bottom:100px;
    right:0px;
}

.section_1_img_box2:hover img

{
    transform: scale(1.2, 1.2);

}



#section_1 .inner img:nth-child(2)
{
    position:absolute;
    right:100px;
    top:300px;
}
#section_1 .inner > p
{
    color:#00046E;
    line-height: 0;
    margin-bottom:10px;
}

#section_1 dt
{
    color:#666;
}

/* section_1_btn */

.section_1_btn
{
    position:relative;
    overflow: hidden;
    width:120px;
    height:50px;
    position:absolute;
    right:0;
    top:320px;
}
.section_1_btn_txt
{
    width:120px;
    height:50px;
    align-items: center;
    position:absolute;
    top:0;
    right:0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    z-index: 9  ;
}

.section_1_btn_txt span
{
    line-height: 1;
    color:#000;
}

.section_1_btn_bg   
{
    width: 0px;
    height:60px;
    position:absolute;
    top:0px;
    right: -20px;
    background:#00046E;
    z-index: 8;
    transition:width 0.8s;
    transform: skew(20deg);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}
.section_1_btn:hover .section_1_btn_bg
{
    width:160px;
}
.section_1_btn:hover .section_1_btn_txt_inner
{
    color:#fff;
}
.section_1_btn_txt_inner
{
    transition:color 0.8s;
}

/* section_1_btn */



#section_2
{
    text-align: center;
    position:relative;
}
#section_2 .inner
{
    text-align: center;
}


@media (max-width : 1100px)
{
    iframe
    {
        width:700px;
        height:395px;
    }
}
@media (max-width : 700px)
{
    iframe
    {
        width:500px;
        height:282px;
    }
}

#section_2 .playbtn
{
    background:#666;
    position:absolute;
    top:35%;
    left:50%;
    transform: translateX(-50%);
    transform: translateY(-50%);

    z-index:9999;
}


#section_3 .inner2 
{
    text-align: right;
    margin:100px;
    position:relative;
}

#section_3 .inner2 p
{
    color:#00046E;
    line-height: 0;
    margin-bottom:10px;
}
#section_3 dt
{
    color:#666;
}
#section_3 dd
{
    margin-top:20px;
}


/* img1 */
#section_3 .img1
{
    widtH:252px;
    height: 380px;
    background:#f2f2f2;
    margin-right:252px;
    position:relative;

}
#section_3 .img1 img:nth-child(2)
{
    width:252px;
    height:390px;
    position:absolute;
    top:0;
    left:252px;
    opacity:0;
    transition:all 1.2s;
}

#section_3 .img1:hover img:nth-child(2)
{
    opacity:1;
}



#section_3 .img1 img:nth-child(1)
{
    width: 252px;
    height:380px;
    transition:all 1s ;
}
#section_3 .img1:hover img:nth-child(1)
{
    transform: translateX(252px);
    opacity:0;
}


#section_3 .img1 img,
#section_3 .img1 .ee9
{
    position:absolute;
    top:0;
    left:0;
}
#section_3 .img1 dl
{
    text-align: center;
    color:#333;
    padding:20px;
    opacity:0;
    transition: all 0.5s;
    width:252px;
}
#section_3 .img1:hover dl
{
    opacity: 1;
}

#section_3 .img1 dl dd:nth-child(4) span
{
    padding:2px 10px;
}
/* img1 */

.img_align
{
    display: flex;
    width:calc(252px * 4);
    height:calc(380px * 2);
    flex-wrap: wrap;
    margin: 0 auto;

}
@media (max-width : 1544px)
{

    #section_3 .inner2
    {
        text-align: center;
        margin:100px 0 0 0 !important;
        

    }
    #section_3 .section_p2
    {
        margin-bottom:100px !important;
    }
    .section_3_btn
    {
        left:50%;
        transform: translateX(-50%);
    }
}
@media (max-width : 1200px)
{
    .img_align
    {
        display: flex;
        width:calc(252px * 2);
        height:calc(380px * 2);
        flex-wrap: wrap;
    
    }
    .img1
    {
        margin-right:0px !important;
        margin-left:252px;
    }
    .img1 img:nth-child(2)
    {
        transform: translateX(-504px);
    }
    #section_3 .img1:hover img:nth-child(1)
    {
    transform: translateX(-252px);
    opacity:0;
    }
    /* .img_align
    {
        position:relative;
    } */
    /* .img3
    {
        position:absolute;
        top:0;
        left:0;
    } */
    .img4
    {
        margin-right:252px;
        margin-left:0px !important;
    }
    .img4 img:nth-child(2)
    {
        transform: translateX(504px);
    }
    #section_3 .img4:hover img:nth-child(1)
    {
    transform: translateX(252px) !important;
    opacity:0;
    }
    #section_3
    {
        height:calc(886px + (252px * 3));
        margin-bottom:100px;
    }
    
}

/* img2 */
#section_3 .img2
{
    widtH:252px;
    height: 380px;
    background:#f2f2f2;
    padding-right:252px;
    position:relative;

}
#section_3 .img2 img:nth-child(2)
{
    width:252px;
    height:390px;
    position:absolute;
    top:0;
    left:252px;
    opacity:0;
    transition:all 1.2s;
}

#section_3 .img2:hover img:nth-child(2)
{
    opacity:1;
}



#section_3 .img2 img:nth-child(1)
{
    width: 252px;
    height:380px;
    transition:all 1s ;
}
#section_3 .img2:hover img:nth-child(1)
{
    transform: translateX(252px);
    opacity:0;
}


#section_3 .img2 img,
#section_3 .img2 .ee9
{
    position:absolute;
    top:0;
    left:0;
}
#section_3 .img2 dl
{
    text-align: center;
    color:#333;
    padding:20px;
    opacity:0;
    transition: all 0.5s;
    width:252px;
}
#section_3 .img2:hover dl
{
    opacity: 1;
}

#section_3 .img2 dl dd:nth-child(4) span
{
    padding:2px 10px;
}

/* img2 */




/* img3 */
#section_3 .img3
{
    widtH:252px;
    height: 380px;
    background:#f2f2f2;
    margin-left:252px;
    position:relative;

}
#section_3 .img3 img:nth-child(2)
{
    width:252px;
    height:390px;
    position:absolute;
    top:0;
    left:-252px;
    opacity:0;
    transition:all 1.2s;
}

#section_3 .img3:hover img:nth-child(2)
{
    opacity:1;
}
#section_3 .img3 img:nth-child(1)
{
    width: 252px;
    height:380px;
    transition:all 1s ;
}
#section_3 .img3:hover img:nth-child(1)
{
    transform: translateX(-252px);
    opacity:0;
}


#section_3 .img3 img,
#section_3 .img3 .ee9
{
    position:absolute;
    top:0;
    left:0;
}
#section_3 .img3 dl
{
    text-align: center;
    color:#333;
    padding:20px;
    opacity:0;
    transition: all 0.5s;
    width:252px;
}
#section_3 .img3:hover dl
{
    opacity: 1;
}

#section_3 .img3 dl dd:nth-child(4) span
{
    padding:2px 10px;
}

/* img3 */

/* img4 */
#section_3 .img4
{
    widtH:252px;
    height: 380px;
    background:#f2f2f2;
    margin-left:252px;
    position:relative;

}
#section_3 .img4 img:nth-child(2)
{
    width:252px;
    height:390px;
    position:absolute;
    top:0;
    left:-252px;
    opacity:0;
    transition:all 1.2s;
}

#section_3 .img4:hover img:nth-child(2)
{
    opacity:1;
}



#section_3 .img4 img:nth-child(1)
{
    width: 252px;
    height:380px;
    transition:all 1s ;
}
#section_3 .img4:hover img:nth-child(1)
{
    transform: translateX(-252px);
    opacity:0;
}


#section_3 .img4 img,
#section_3 .img4 .ee9
{
    position:absolute;
    top:0;
    left:0;
}
#section_3 .img4 dl
{
    text-align: center;
    color:#333;
    padding:20px;
    opacity:0;
    transition: all 0.5s;
    width:252px;
}
#section_3 .img4:hover dl
{
    opacity: 1;
}

#section_3 .img4 dl dd:nth-child(4) span
{
    padding:2px 10px;
}

/* img4 */

/* section_3 btn */
.section_3_btn
{
    position:relative;
    overflow: hidden;
    width:120px;
    height:50px;
    position:absolute;
    right:0;
    top:120px;
}

.section_3_btn_txt
{
    width:120px;
    height:50px;
    align-items: center;
    position:absolute;
    top:0px;
    right:0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    z-index: 9;
}

.section_3_btn_txt span
{
    line-height: 1;
    color:#000;
}

.section_3_btn_bg   
{
    width: 0px;
    height:60px;
    position:absolute;
    top:0px;
    right: -20px;
    background:#00046E;
    z-index: 8;
    transition:width 0.8s;
    transform: skew(20deg);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}
.section_3_btn:hover .section_3_btn_bg
{
    width:160px;
}
.section_3_btn:hover .section_3_btn_txt_inner
{
    color:#fff;
}
.section_3_btn_txt_inner
{
    transition:color 0.8s;
}
/* section_3 btn */







#section_4
{
    height:100vh;

}
#section_4 .inner
{
    display:flex;
    justify-content: space-between;
    text-align: right;
/*     padding:100px 0px;
 */   
    position: relative;
    height: 100vh;
}

.section4_img img
{
    position: absolute;
    top:0;
    left:0;
}
.section4_txt
{
    position: absolute;
    top:200px;
    right:0;
}
#section_4 .inner > p
{
    color:#00046E;
    line-height: 1;
    margin-bottom:10px;
    position:absolute;
    right:0;
    top:180px;
    z-index: 9;
}
#section_4 dd
{
    color:#666;
}


.slide2_1
{
    width:100%;
    position:absolute;
    top:0;
    left:0;
    height: 100%;
}
.slide2_1 .swiper-slide-active
{
    width:100%;
}

.slide2_1 .swiper-button-next,
.slide2_1 .swiper-button-prev
{
    opacity: 0;
}


.slide2_1 .swiper-slide:nth-child(1) img
{
    width:60%;
}
.slide2_1 .swiper-slide:nth-child(2) img
{
    width:53%;
}
.slide2_1 .swiper-slide:nth-child(3) img
{
    width:53%;
}
.slide2_1 .swiper-slide:nth-child(4) img
{
    width:45%;
}
.slide2_1 .swiper-slide:nth-child(5) img
{
    width:53%;
}
.txt_color
{
    color:#000;
    background-blend-mode:difference;
    
}
.section4_img
{
    mix-blend-mode:difference;

}
.slide2
{
    position: absolute;
    top:40%;
    right:0;
    width:200px;
    height: 200px ;
    margin:50px 80px;
    text-align: center;
    overflow: visible;
}
.slide2 .swiper-slide
{
    opacity:0;
}
.slide2 .swiper-slide-active
{
    font-family: 'noto sans KR';
    font-weight: 500;
    font-size:2rem;
    opacity:1;
    transition:opacity 0.5s;
    
}
.slide2 .swiper-slide-next,
.slide2 .swiper-slide-prev
{
    font-family: 'noto sans KR';
    font-weight: 400;
    font-size:1.6rem;
    opacity:0.5;
}

.slide2 .swiper-wrapper
{
    align-items: center;
    text-align: center;
    position:relative;
}

.slide2 .swiper-button-next
{
    color: rgba(255,255,255,0);
    position:absolute;
    top:90px;
    left:-2px;
    z-index:99999;
    width:60px;
    height:60px;

}
.swiper2_btn_next_color
{
    background:#333;
    width:100%;
    height: 5px;
    opacity:0.5;
}
.swiper2_btn_prev_color
{
    background:#00046E;
    width:100%;
    height: 5px;
    opacity:0.5;
    transition: scale 1s;

}

.slide2 .swiper-button-next:hover .swiper2_btn_next_color
{
    opacity:1;
}


.slide2 .swiper-button-prev::after
{
    display: none;
}


.slide2 .swiper-button-prev
{
    color: rgba(255,255,255,0);
    position:absolute;
    top:90px;
    left:140px;
    z-index:99999;
    width:60px;
    height:60px;
}
.slide2 .swiper-button-prev:hover .swiper2_btn_prev_color
{
    opacity:1;
}

.plusimg img
{
    position:absolute;
    top:0;
    left:50%;
}

.plusimg img.action
{

    animation: plus_img_scale 1s, plus_img_circle 10s infinite linear 1s;
}

@keyframes plus_img_scale
{
    0%
    {
        transform: scale(0, 0);
        
    }
    100%
    {
        transform: scale(1, 1) ;
    }

}


@keyframes plus_img_circle
{
    0%
    {
        transform: rotate(0);

    }
    100%
    {
        transform: rotate(360deg);

    }
}

.minusimg img
{
    position:absolute;
    top:0;
    left:50%;
}

.minusimg img.action
{

    animation: minus_img_scale 1s, minus_img_circle 10s infinite linear 1s;
}

@keyframes minus_img_scale
{
    0%
    {
        transform: scale(0, 0);
        
    }
    100%
    {
        transform: scale(1, 1) ;
    }

}


@keyframes minus_img_circle
{
    0%
    {
        transform: rotate(0);

    }
    100%
    {
        transform: rotate(-360deg);

    }
}



.slide2 .swiper-button-next::after
{
    display:none;
}






/* section_4 btn */

.section_4_btn
{
    position:relative;
    overflow: hidden;
    width:120px;
    height:50px;
    position:absolute;
    right:0;
    top:40%;
}
.section_4_btn_txt
{
    width:120px;
    height:50px;
    align-items: center;
    position:absolute;
    top:0px;
    right:0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    z-index: 9;
}

.section_4_btn_txt span
{
    line-height: 1;
    color:#000;
}

.section_4_btn_bg   
{
    width: 0px;
    height:60px;
    position:absolute;
    top:0px;
    right: -20px;
    background:#00046E;
    z-index: 8;
    transition:width 0.8s;
    transform: skew(20deg);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}
.section_4_btn:hover .section_4_btn_bg
{
    width:160px;
}
.section_4_btn:hover .section_4_btn_txt_inner
{
    color:#fff;
}
.section_4_btn_txt_inner
{
    transition:color 0.8s;
}

/* section_4 btn */


#section_5
{
    height:100vh;
    position:relative;
    padding:90px;
}
/* .section_5_txt
{
    padding-top:100px;
}
 */
#section_5 .inner p
{
    color:#00046E;
    line-height: 0;
    margin-bottom:10px;
}
#section_5 dt
{
    color:#666;
}
#section_5 dd
{
    margin-top:20px;
}

.slide3
{
    padding:50px;
    text-align: center;
}
.slide3 .swiper-slide
{
    opacity:0;
    transition: opacity 1s;
   
    
}

.slide3 .swiper-slide-prev,
.slide3 .swiper-slide-next,
.slide3 .swiper-slide-active
{
    opacity:1;
    transition:opacity 0.5s;
}



.slide3 .swiper-button-next,
.slide3 .swiper-button-prev
{
    color:rgba(255,255,255,0);
    width:150px;

}


.slide3 .swiper-button-next::after
{
    display: none;
}
.slide3 .swiper-button-prev::after
{
    display: none;
}


.slide3 .swiper-button-prev p
{
    color:#666;
    line-height:2;
    transition:all 0.5s;

}
.slide3 .swiper-button-next p
{
    color:#666;

}

.slide3 .swiper-button-prev
{
    text-align: center;
    position:absolute;
    top:50%;
    left:0px;
    overflow: hidden;
    border-radius: 0px 0px 0px 0px;
    transition: all 0.5s;
}
.slide3 .swiper-button-prev:hover
{
    border-radius: 100px 0px 0px 100px;
}

.slide3 .swiper-button-prev:hover p
{
    color:#fff;
    transform:translateX(-20px);
}
.swiper-button-prev_bg
{
    width:0px;
    height:30px;
    background:linear-gradient(to bottom right, #DD2A7B , #F58529  ) 
    no-repeat center center;
    position:absolute;
    top:7px;
    transform: translateY(-50%);
    right:-30px;
    z-index:-1;
    transition:all 0.5s;
    transform:skew(0deg);
    border-radius: 5px;
    overflow:visible;
}
.slide3 .swiper-button-prev_inner
{
    width:100%;
    height:44px;
    position:relative;
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: center;

}

.slide3 .swiper-button-prev:hover .swiper-button-prev_bg
{
    width:200px;
    transform:skew(30deg);

}
 



.slide3 .swiper-button-next
{
    text-align: center;
    position:absolute;
    top:50%;
    right:0px;
}

.slide3 .swiper-button-next p
{
    color:#666;
    line-height: 2;
    transition:all 0.5s;

}
.slide3 .swiper-button-next
{
    text-align: center;
    position:absolute;
    top:50%;
    right:0px;
    overflow: hidden;
    border-radius: 0px 0px 0px 0px;
    transition: all 0.5s;
}
.slide3 .swiper-button-next:hover
{
    border-radius: 0px 100px 100px 0px;
}

.slide3 .swiper-button-next:hover p
{
    color:#fff;
    transform:translateX(20px);
}
.swiper-button-next_bg
{
    width:0px;
    height:30px;
    background:linear-gradient(to bottom left, #515BD4 , #FEDA77  );
    position:absolute;
    top:7px;
    left:-30px;
    z-index:-1;
    transition:all 0.5s;
    transform:skew(0deg);
    border-radius: 10px;
}
.slide3 .swiper-button-next_inner
{
    width:100%;
    height:44px;
    position:relative;
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: center;

}

.slide3 .swiper-button-next:hover .swiper-button-next_bg
{
    width:200px;
    transform:skew(30deg);

}
 



.sns_btn_align
{
    width:100%;
    display: flex;
    justify-content: center;
    position:relative;

}
.sns_btn
{
    text-align: center;
    width:300px;
    overflow: hidden;
    

}
.sns_btn a
{
    color:#000000;

}


.sns_btn:hover 
{
    opacity: 0.5;

}




#section_6
{
    height:100vh;
}
#section_6 .inner
{
    position: relative;
}
.section_6_txt
{
    padding:100px 0px;
    text-align: right;
}
#section_6 .inner p
{
    color:#00046E;
    line-height: 0;
    margin-bottom:10px;
}
#section_6 dt
{
    color:#666;
}
#section_6 dd
{
    margin-top:20px;
}

.section_6_con
{
    display: flex;
    gap:50px;
}


.slide4_1 
{
    width:calc((100% / 4) * 1);
    height:400px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    position:relative;

    overflow: visible;
}
.slide4_1 .swiper-wrapper
{
    transform: translate(0,0) !important;
    height:300px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.slide4_1 .swiper-notificaion
{
    display: none;
}
.slide4_1 .swiper-slide
{
    padding:5px 10px;
    height: 60px !important;
   display: flex;
   justify-content: center;
   flex-direction: column;
}


.slide4_1 .swiper-slide-active
{
    padding:5px 10px;
    height: 60px !important;
    background:#00046E;
    color:#fff;
    line-height: 2;


}



.slide4_1 .swiper-button-next
{
    padding:5px 10px;
    height: 60px !important;

    position: absolute ;
    bottom:0;
    left:50%;
    transform: translateX(-50%) rotate(90deg);
    top:auto;
    color:#333;
    
}
.slide4_1 .swiper-button-prev
{
    padding:5px 10px;
    height: 60px !important;

    position:absolute ;
    top:20px;
    left:50%;
    transform: translateX(-50%) rotate(90deg);

    bottom: auto;
    color:#333;


}



.slide4
{
    width:calc((100% / 4) * 2);
}
.slide4 .swiper-slide
{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.slide4 .swiper-slide-prev
{
    opacity:0;
    transition:opacity 0.5s;
}



.slide4 .swiper-slide-active,
.slide4 .swiper-slide-next,
.slide4 .swiper-slide
{
    opacity:1;
    transition:opacity 0.5s;
}

.slide4 .swiper-button-next,
.slide4 .swiper-button-prev
{
    border:1px solid #000;
    color:#000;
    background:#000;
    display: none;
}


.slide4 .swiper-button-next::after,
.slide4 .swiper-button-prev::after
{
    display: none;
}




.bottom_background
{
    background:url('../img/background_bottom.svg') 
    no-repeat center center;
    background-size:cover;
}


/* section_7 */

#section_7
{
    height:100vh;
    padding-top:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#section_7 .inner
{
    display: flex;
    flex-direction:initial;
    gap:100px; 
    justify-content: space-between;
}
.section_7_txt 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section_7_txt p:nth-child(1)
{
    color:#E7D264;
    line-height: 1;

}

.section_7_txt h6,
.section_7_txt p:nth-child(3)
{
    color:#fff;
}

.section_7_txt p:nth-child(3)
{
    padding-bottom:5px;
    opacity:60%;
}


.section_7_txt ul
{
    padding-top:50px;
}
.section_7_txt ul li
{
    margin-bottom:10px;
    border-bottom:rgba(255,255,255,0.2) 1px solid;
    padding:5px 10px;
}


.section_7_txt ul li a
{
    color:#fff;

    opacity:0.5;

}
.section_7_txt ul li a.on
{
    color:#fff;

    opacity:1;

}
.section_7_txt ul li.on 
{
    border-bottom:2px solid #ffffff;
}

.section_7_txt ul li span
{
   padding:0px 10px;
}


.section_7_imgbox
{
    position:relative;
    width:911px;
    height:513px;
}
.section_7_imgbox img
{
    position:absolute;
    top:0;
    left:0;
}


#section_8
{
    height:100vh;
    padding-top:100px;
}
#section_8 .inner
{
    display:flex;
    justify-content: space-between;

}

.section_8_txt
{
    color:#fff;
}
.section_8_txt dl
{
    padding-bottom:20px;
}
.section_8_txt dd.section_p2
{
    letter-spacing: 0px;
}


.section_8_txt p:nth-child(1)
{
    opacity:60%;
    padding:10px 0px;
    line-height: 1;
}


.section_8_txt p:last-child
{
    font-size:2rem;
    padding-top:30px;
    cursor:pointer;
}

#section_9
{
    height: 100vh;
}
.section_9_txt
{
    color:#fff !important;
}
.section_9_txt .main_txt
{
    color:#E7D264;
    cursor:pointer;
}
