@charset "utf-8";

#header 
{
    height: 80px;
    position:fixed;
    top:0;
    left:0;
    width:100%;    
    z-index:9;
    background:rgba(255,255,255,0.5);
}
.header_background
{
    height: 80px;
    width: 100%;
    position:fixed;
    z-index:8;
    top:0;
    left:0;
    backdrop-filter: brightness(1.5) saturate(180%) blur(20px); 
    -webkit-backdrop-filter: brightness(1.5)saturate(180%) blur(20px);   
}

#header .inner
{
    margin:0 auto;
    max-width: calc(100% - 300px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

#header h1
{
    font-size:0rem;
    background:url('../img/1_gnb/gnb_logo.svg') 
    no-repeat 
    center ;
    width:400px;
    height: 80px;
}
.header_right
{
    display: flex;
    gap:32px;

}
.header_mid
{
    display: flex;

}
.header_mid li a
{
    display:block;
    padding: 0 20px;
}

#header .gnb
{
    display:flex;

}
.gnb li.search
{
    background:url('../img/1_gnb/search_gnb.svg') 
    no-repeat 
    center;
    width:30px;
    height: 30px;
} 
.gnb li.mapage
{
    background:url('../img/1_gnb/mypage_gnb.svg') 
    no-repeat 
    center;
    width:30px;
    height: 30px;
} 
.gnb li.login
{
    background:url('../img/1_gnb/login_gnb.svg') 
    no-repeat 
    center;
    width:30px; 
    height: 30px;
} 
.gnb li.ham
{
    background:url('../img/1_gnb/ham_gnb.svg') 
    no-repeat 
    center
    center;
    width:40px;
    height: 30px;
} 

.gnb_line
{
    width:400px;
    height:3px;
    border-radius: 100px;
    background:#00046E;
    position:absolute;
    bottom:5px;
    left:0px;
}

.header_mid .cs_center:hover span
{
    opacity:60%;
}
.header_mid .shopping:hover span
{
    opacity:60%;
}
.gnb .search:hover
{
    opacity:60%;
    
}
.gnb .mapage:hover
{
    opacity:60%;
    
}
.gnb .login:hover
{
    opacity:60%;
    
}
.gnb a .ham.active
{
    transform: rotate(90deg);
    transition:transform 0.5s;  
}

#main_visual
{
    background:#f2f2f2;
    position:relative;
    height: 100vh;
}

.slide1
{
    z-index: 7;
}
.swiper-slide
{
    display:flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide-active
{
    transform: scale(0.8, 0.8);
}
.swiper-slide-next
{
/*     transform: skewX( -10deg ) !important;
 */    transform: scale(1.5, 1.5);

}
.swiper-slide-prev
{
/*     transform: skewX( -10deg )  !important;
 */    transform: scale(1.5,1.5) ;


}


.swiper-wrapper 
{
    height:100%;
    align-items: center;
}


.swiper-slide-shadow-left
{
    display:none;
}
.swiper-slide-shadow-right
{
   display:none;
}


.swiper-slide-active
{
    align-items: center;
    height: 100%;
}
#main_visual h2
{
    text-transform: uppercase;
    font-family: 'air-font';
    font-size:13rem;
    font-weight: 700;
    color:#fff;
    position:absolute;
    bottom:20px;
    left:0;
    z-index:8;
    text-align: center;
    width:100%;

}