@charset "utf-8";

.slide1 .swiper-slide { transition: all 0.5s; }
.slide1 .swiper-slide.on { transform:rotate(10deg); }
.swiper-slide-active
{
    transition: all 1s;
}

.swiper-slide-active
{
    transform:rotate(0deg) !important;
}