@charset "utf-8";


@media (max-width:968px)
{
    /* .cs_txt
    {
        width:calc(630px * 1);
        margin:0 auto;
    } */
    .cs_title
    {
        text-align: center;
        padding:20px 0px 20px 0px;
    }
    .cs_txt_depth dd
    {
        width: 100%;
    }
}

@media (max-width : 768px)
{
    .cs_txt > li
{
    width:80%;
    margin: 0 auto;

}
}

@media (max-width: 520px)
{
    .cs_title
    {
        text-align: left !important;
    }
}

@media (max-width: 320px )
{
    .cs_txt > li
    {
        width:100%;
        margin: 0 auto;
    
    }
}

